<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.healthcompanion.heco" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".KonsultasiActivity"
            android:label="@string/title_activity_konsultasi" >
        </activity>
        <activity
            android:name=".GejalaActivity"
            android:label="@string/title_activity_gejala" >
        </activity>
        <activity
            android:name=".HerbalActivity"
            android:label="@string/title_activity_herbal" >
        </activity>
        <activity
            android:name=".SintetisActivity"
            android:label="@string/title_activity_sintetis" >
        </activity>
        <activity
            android:name=".TipsActivity"
            android:label="@string/title_activity_tips" >
        </activity>
        <activity
            android:name=".HecoActivity"
            android:label="@string/title_activity_heco" >
        </activity>
        <activity
            android:name=".TentangActivity"
            android:label="@string/title_activity_tentang" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".AlergiActivity"
            android:label="@string/title_activity_alergi" >
        </activity>
        <activity
            android:name=".AdminActivity"
            android:label="@string/title_activity_admin" >
        </activity>
        <activity
            android:name=".DaftarActivity"
            android:label="@string/title_activity_daftar" >
        </activity>
        <activity
            android:name=".Alergi1"
            android:label="@string/title_activity_alergi1" >
        </activity>
        <activity
            android:name=".Alergi11"
            android:label="@string/title_activity_alergi11" >
        </activity>
        <activity
            android:name=".Alergi10"
            android:label="@string/title_activity_alergi10" >
        </activity>
        <activity
            android:name=".Alergi101"
            android:label="@string/title_activity_alergi101" >
        </activity>
        <activity
            android:name=".Alergi1011"
            android:label="@string/title_activity_alergi1011" >
        </activity>
        <activity
            android:name=".GalergiActivity"
            android:label="@string/title_activity_galergi" >
        </activity>
        <activity
            android:name=".HalergiActivity"
            android:label="@string/title_activity_halergi" >
        </activity>
        <activity
            android:name=".SalergiActivity"
            android:label="@string/title_activity_salergi" >
        </activity>
        <activity
            android:name=".TalergiActivity"
            android:label="@string/title_activity_talergi" >
        </activity>
    </application>

</manifest>
